body {
    background-color: #f0f0f0;
    color: #122046;
    font-family: 'Poppins', sans-serif;
  }

h1, h2, h3 {
    padding: 40px 0 40px 0;
}

#factura {
  border-left-style: outset;
  border-left-color: #122046;
  border-left-width: 7px;
}
#factura #primerDiv{
  font-family: 'Courier New', Courier, monospace;
}

#contacto {
  padding-bottom: 20px;
}

#contacto h2 span {
  border-bottom-style: outset;
  border-bottom-color: #122046;
  border-bottom-width: 7px;
}

